/* IMPORTATIONS */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


/* STYLES GLOBAUX */
* {
    font-family: "Inter";
}
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
/* header */
header {
    text-align: center;
    padding: 1rem;
    height: 75px;
    background: transparent;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    transition: all 0.2s ease-in-out;
    margin-bottom: 50px;
}

header.scrolled {
    height: 30px;
    color: white;
    background: rgb(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(-25px);
    backdrop-filter: blur(25px);
    align-items: center;
    justify-content: center;
}
main h1 {
    margin: 0;
    font-size: 3.5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
header p {
    margin-top: -25px;
    transition: all 0.3s ease-in-out;
}

header.scrolled p {
    opacity: 0;
}

header button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
    border-bottom: red 0px solid;
    transition: all 0.2s ease-in-out;
}

header button:hover {
    background-color: #222;
    scale: 1.05;
    border-bottom: darkblue 10px solid;
}

main {
    margin-top: 100px;
    padding: 20px;
    width: 100%;
}

li button {
    border-radius: 50%;
    background: #000;
    color: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

#browserslist {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

#browserslist.show {
    opacity: 1;
    pointer-events: auto;
}

#browserslistcontent {
    background: white;
    padding: 20px;
    width: 50%;
    border-radius: 15px;
    max-width: 500px;
    text-align: start;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.2s ease-in-out;
    transition-delay: 0.2s;
}

#closebrowserslist {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px black solid;
    
}

#browserslist.show #browserslistcontent {
    opacity: 1;
    transform: translateY(0);
}